@model Movies.App.Models.Locations.LocationViewModel

@{
    ViewData["Title"] = "Excluir";
}

<h2>Excluir locação</h2>
<hr />
<h4>Tem certeza que deseja excluir esta locação?</h4>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocatedAt)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para a listagem</a>
    </form>
</div>
