@model Movies.App.Models.Locations.LocationViewModel

@{ ViewData["Title"] = "Edição"; }

<h2>Edição de locação</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" data-mask="000.000.000-00" data-mask-reverse="true" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="MoviesId" class="control-label"></label>
                <select name="MoviesId" class="form-control movie-list" multiple>
                    @foreach (var movie in Model.Movies)
                    {
                        <option value="@movie.Id" selected>@movie.Name</option>
                    }
                </select>
                <span asp-validation-for="MoviesId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <br/>
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('.movie-list').select2({
            minimumInputLength: 5,
            closeOnSelect: false,
            ajax: {
                url: '/Movie/SelectList',
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        })
    </script>
}
